<!DOCTYPE html>
<html ng-app="foodTruck">
<head>
    <title>Food Truck Locator</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArBot-4DSCHC1GUKQ2UjSJycY8TVeG72M&signed_in=true&callback=initMap">
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="javascripts/map.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style>
          html, body {
            height: 80%;
            margin: 2%;
            padding: 0;
          }
          #map {
            height: 80%;
            width: 80%;
            float: right;
          }
        </style>
</head>
<body>

    <h1>Find the food trucks you want near you!</h1>

<div class='row'>

<form name='userAddressForm'>
    <div ng-controller='coordsCtrl as coordsCtrl' class='col-sm-6'>
    <tr>
        Address Line1: 
        <input type='text' ng-model='coordsCtrl.address.addressLine' />
        {{ coordsCtrl.address.addressLine }}
        <br>
        City:
        <input type='text' ng-model='coordsCtrl.address.city'>
        <br>
        State:
        <input type='text' ng-model='coordsCtrl.address.state'>
        <br>
        Zipcode:
        <input type='number' ng-model='coordsCtrl.address.zipCode'>
        <br>
        <button type="submit" class="button button-royal button-block" ng-click="coordsCtrl.submit()">Submit</button>
    </div>
</form>

    <div id="map" style='height:400px;margin-top:-1000px' class='col-sm-6 map-body'></div>

        <script>
          // function initMap() {
          //   map = new google.maps.Map(document.getElementById('map'), {
          //     center: {lat: 37.7241, lng: -122.4024},
          //     zoom: 12
          //   });
          // }
        </script>

</div>

<!--     <div ui-view></div>
    <a ui-sref='home'>HOME</a>
    <a ui-sref='map'>MAP</a> -->

    <script src="lib/bower_components/angular/angular.min.js"></script>
    <script src="lib/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="lib/bower_components/ngmap/build/scripts/ng-map.min.js"></script>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/factories.js"></script>
    <script src="javascripts/controllers.js"></script>
    <!-- <script src="javascripts/map.js"></script> -->

<!--
    <script>
    // TESTING SCRIPT just to look at the data
    angular.module('foodTruck')
    .controller('foodTruckCoordsCtrl', ['$http', function($http){
        var arr = [];
        $http.get('https://data.sfgov.org/resource/rqzj-sfat.json')
            .success(function(data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    if (data[i]['location']) {
                        arr.push([data[i]['location']['latitude'], data[i]['location']['longitude']])
                    }
                }
                console.log(arr)
                console.log('LAT: ' + data[1]['location']['latitude']);
                console.log('LONG: ' + data[1]['location']['longitude']);
            });
    }]);
    </script>
-->
</body>
</html>