<div ng-controller='coordsCtrl as coordsCtrl'>
    Please enter your location: 
    <br>
    <input type='text' ng-model='address' />
    <br>
    {{ address }}
    <br>
    <button ng-click="submit()" type="submit" class="button button-royal button-block">Submit</button>
</div>

    <script>
    // TESTING SCRIPT just to look at the data
    angular.module('foodTruck')
    .controller('foodTruckCoordsCtrl', ['$http', function($http){
        var arr = [];
        $http.get('https://data.sfgov.org/resource/rqzj-sfat.json')
            .success(function(data) {
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    if (data[i]['location']) {
                        arr.push([data[i]['location']['latitude'], data[i]['location']['longitude']])
                    }
                }
                console.log(arr)
                console.log('LAT: ' + data[1]['location']['latitude']);
                console.log('LONG: ' + data[1]['location']['longitude']);
            });
    }]);
    </script>